@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  color: #193855;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
  color: #A97950;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
}

.list-heading {
  color: #A97950;
}

header, footer {
  background-color: #E9DAC4;
}

a {
  text-decoration: underline;
  color: #193855;
}

a:hover {
  filter: brightness(200%);
}

/* Nav bar */

body::before {
  display: block;
  content: "";
  height: 60px;
}

#header {
  position: fixed; 
  top: 0;
  width: 100%;
  list-style-type: none;
  background-color: #E9DAC4;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* z-index: 2; */
}

#header-img {
  width: 50px;  
  float: left;
  /* margin-top: 5px;   */
  margin-left: 5px;
}

#top-nav {
  margin-top: 0px;
  /* display: inline-block; */
  float: right;
  margin-right: 1rem; 
}

#top-nav > li {
  float: left;
  padding: 1rem .5rem .2rem .5rem;
  display: block;
}

.nav-link {
  text-decoration: none;
  color: #193855;
  font-size: 1.2rem;
}

.nav-link:hover {
  text-decoration: none;
  color: #193855;
  filter: none;
  font-size: 1.2rem;
  background-color: #D5B794;
  padding: 1rem .5rem 1.3rem .5rem;
  height: 100%;
  margin: 0;
}

/* Hero section layout */

#hero-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #193855;  
}

#hero-banner {
  text-align: center;
  width: 90%;
  padding-top: 4rem;
  padding-bottom: 16rem;
} 

#title {  
  color: #E9DAC4;
  font-size: 4rem;
}

/* Email CTA form */

#cta {
  color: #E9DAC4;
  font-size: 1.5rem;
  padding-top: .5rem;
}

#form {
  width: 100%;
}

#email {
  font-size: 1.1em;
  padding: 1em;
  border-radius: 10px;
  border-color: #193855;
  width: 100%;
  box-sizing: border-box;
}

#submit {
  background-color: #A97950;
  color: #FFFFFF;
  font-size: 1.1em;
  padding: 1em;
  margin-top: 10px;
  border-radius: 10px;
  border-color: #193855;
  width: 100%;
}

#submit:hover {
  background-color: #E9DAC4;
  color: #193855;
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 10px;
  border-color: #193855;
  width: 100%;
}

/*Make hero and form responsive*/

@media screen and (min-width: 768px) {
  #hero-container {
    background-image: url(images/hero-dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: flex-start;
    /* margin-top: 60px; */
  }

  #hero-banner {
    text-align: left;
  } 
  #title {
    padding-left: 2rem;
    padding-top: 12rem;
  }
  
  #form {
    padding-left: 2rem;
    padding-bottom: 2rem;
  }

  #cta {
    padding-left: 2rem;
  }

  #email {
    width: 25%;
  }

  #submit {
    width: 15%;
  }
}

@media screen and (max-width: 1405px) {

  #hero-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 100%;
    background-image: url(images/hero-dog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: flex-start;
    /* margin-top: 60px; */
  }

  #hero-banner {
    text-align: left;
  } 
  #title {
    padding-left: 2rem;
    padding-top: 12rem;
  }
  
  #form {
    width: 50%;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }

  #cta {
    padding-left: 2rem;
  }

  #email {
    width: 100%;
  }

  #submit {
    width: 100%;
  }
}


/* Main body page layout */

.container {
  width: 90%; 
  /* 90% is a good container width for mobile & setting a max-width mskes it look good on larger screens*/
  max-width: 960px;
  margin: auto;
  text-align: left;
}
/* Make video iframe responsive */

#video-wrapper {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

#video {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* End of 'makes video iframe responsive' */

/* Pricing cards */

#price-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }

#price-box1, #price-box2, #price-box3 {
  background-color: #f0e8d7;
  border-color: #193855;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 0 3px 5px 3px rgba(0,0,0,0.4);
  flex: 30%;
  max-width: 30%;
  padding: .5em;
  padding-right: 1em;
  box-sizing: border-box;
  margin-bottom: 1em;
}
.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-icon {
  font-size: 5em;
  text-align: center;
}

@media (max-width: 750px) {
  #price-box1, #price-box2, #price-box3 {
    flex: 100%;
    max-width: 100%;
}
}

/* Footer */

footer {
  top: 0;
  width: 100%;
  list-style-type: none;
  background-color: #E9DAC4;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#bottom-nav {
  margin-top: 0px;
  margin-bottom: 0px;
  /* display: inline-block; */
  float: right;
  margin-right: 1rem; 
}

#bottom-nav > li {
  float: left;
  padding: 1rem .5rem 1rem .5rem;
  display: block;
} 

.footer-link {
  text-decoration: none;
  color: #193855;
  font-size: 0.9rem;
}

.footer-link:hover {
  text-decoration: none;
  color: #193855;
  font-size: 0.9rem;
  background-color: #D5B794;
  padding: 1rem .5rem 1.3rem .5rem;
  height: 100%;
  margin: 0;
}

@media (max-width: 400px) {

  #bottom-nav li {
    float: left;
  }  
}